.App {
  display: flex;
  flex-direction: column;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  background-color: #171920;
}

.units-button {
  position: absolute;
  top: 3%;
  left: 3%;
  color: #24272c;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.2rem;
  width: 5.5rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(223, 235, 255);
  cursor: default;
}

.cityForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: 5.9rem;
}

.formInput {
  margin-left: 1.2rem;
  width: 10rem;
  height: 2.4rem;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.3rem;
  color: #24272c;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  background-color: rgb(223, 235, 255);
}

.formInput::placeholder {
  color: #24272c;
  font-size: 1.3rem;
}

.submitButton {
  margin-left: 2.7rem;
  color: #24272c;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.3rem;
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(223, 235, 255);
  cursor: default;
}

.submitButton:hover, .units-button:hover {
  background-color: rgb(200, 211, 233);
}

.submitButton:active, .units-button:active {
  background-color: rgb(223, 235, 255);
}

.weather-data {
  display: flex;
  flex-direction: column;
}

.weather-cards {
  overflow-x: scroll;
  width: 100vw;
  display: flex;
  margin-top: 2rem;
  margin-left: 1.3rem;
  justify-content: flex-start;
  gap: 3.4%;
}

.weather-card {
  width: 8rem;
  height: 12rem;
  display: flex;
  color: rgb(219, 231, 255);
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232530;
  border: 0.5px solid none;
  border-radius: 0.5rem;
  user-select: none;
}

.weather-card:hover {
  background-color: #2a2c39;
}

.weather-card:active {
  background-color: #303242;
}

.weather-card:focus {
  background-color: #343648;
}

.weather-icon {
  width: 8rem;
}

.info-card {
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 12rem;
  background-color: #232530;
  border-radius: 0.5rem;
  margin-left: 15rem;
  top: 1.5%;
  color: rgb(219, 231, 255);
  font-size: 1.1rem;
}

.info-card .location {
  display: flex;
  gap: 0.7rem;

}

.info-card .city {
  font-size: 1.7rem;
}

.info-card .country {
  font-size: 1.3rem;
  padding-top: 0.43rem;
}

.info-card .coordinates {
  font-size: 0.8rem;
  padding-top: 0.4rem;
}

.info-card-weather-container {
  display: flex;
}

.info-card-temperature {
  font-size: 4.5rem;
  margin-left: 0rem;
}

.info-card-temp-units {
  font-size: 2.5rem;
}

.info-card-time {
  margin-top: 0.5rem;
}

.weather-icon-info-card {
  width: 9rem;
}

.weather-code {
  margin-top: 0.5rem;
}

.info-card-wether-box-1 {
  display: flex;
  flex-direction: column;
}

.info-card-wether-box-2 {
  display: flex;
  flex-direction: column;
}

.temp-label,
.precip-label {
  color: rgb(219, 231, 255);
  position: absolute;
  margin-top: 15rem;
  margin-left: 1rem;
}

.precip-label {
  top: 46.5%;
}

@media only screen and (max-width:480px) {
  .App {
    overflow: hidden;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .weather-cards {
    margin-left: 0.3rem;
    gap: 0.8rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width:370px) {
  .info-card {
    width: 18rem;
    height: 13rem;
  }

  .cityForm {
    margin-top: 6.9rem;
  }
}

@media only screen and (max-width:325px) {
  .info-card {
    width: 14.5rem;
    height: 13rem;
  }

  .cityForm {
    margin-top: 6.9rem;
  }
}

@media only screen and (min-width:800px) {
  .cityForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
    margin-top: 7rem;
    margin-left: 1.2rem;
  }

  .submitButton {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    width: 8.5rem;
    height: 2.5rem;
  }

  .info-card {
    width: 21rem;
    height: 12rem;
    margin-left: 15%;
    top: 3%;
  }

  .weather-card {
    width: 10rem;
    height: 13rem;
  }

  .weather-cards {
    gap: 4vw;
    justify-content: center;
  }

  .weather-icon {
    width: 9rem;
  }
}